<!DOCTYPE HTML> 
<html> 
<head> 
	<title> 
		<%= title %> 
	</title> 
</head> 
<body> 
	<% if (username) { %> 
	<h2>Hello <%=username %></h2> 
	<a href="/signout">Sign out</a> 
	<% } else { %> 
	<a href="/signup">Signup</a> 
	<a href="/signin">Signin</a> 
	<% } %> 
	<section ng-include="'/example/views/example.client.view.html'"></section>
<!--
	<section> 
		<input type="text" id="text1" ng-model="name" /> 
		<input type="text" id="text2" ng-model="name" /> 
	</section> 
-->
	<br />
	<img src="images/Lighthouse.jpg" alt="logo" /> 
	<script type="text/javascript" src="/static/lib/angular/angular.js"></script> 
	<script type="text/javascript" src="/application.js"></script> 
	<script type="text/javascript" src="/example/example.client.module.js"></script> 
	<script type="text/javascript" src="/example/controllers/example.client.controller.js"> </script>
</body> 
</html>




<!--
<!DOCTYPE html>
<html>
	<head>
	
	</head>
	<body>
		<img src="images/Lighthouse.jpg" alt="logo">
		<h1><%= title %></h1>
	</body>
</html>
-->