<!DOCTYPE html> 
<html> 
<head> 
	<title> 
		<%= title %> 
	</title> 
</head> 
<body> 
	<% for(var i in messages) { %>
	 <div class="flash"><%= messages[i] %></div> 
	 <% } %> 
	 <form action="signup" method="post"> 
	 	<div> 
	 		<label>Username : </label> 
	 		<input type="text" name="username"> 
	 	</div> 
	 	<div> 
	 		<label>Email : </label> 
	 		<input type="text" name="email"> 
	 	</div> 
	 	<div> 
	 		<label>UserID : </label> 
	 		<input type="text" name="userid"> 
	 	</div> 
	 	<div> 
	 		<label>Password : </label> 
	 		<input type="password" name="password"> 
	 	</div> 
	 	<div> 
	 		<input type="submit" value="Sign up"> 
	 	</div> 
 	</form> 
</body> 
</html>

